@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1152px;
  padding: 0 20px;
  margin: 0 auto;
}

.intro {
  height: 555.7px;
  width: 1106px;
  position: relative;
  margin-bottom: 114px;
}
.intro::before {
  background: url(../../img/intro-img.png) no-repeat center;
  right: 0;
  bottom: 0;
  width: 600px;
  height: 555.72px;
  display: block;
  position: absolute;
  content: "";
}

.intro__text-wrapper {
  margin-top: 120px;
}

.intro__title {
  margin: 0;
  width: 518px;
  font-weight: 700;
  font-size: 40px;
}

.intro__description {
  font-weight: 400;
  font-size: 18px;
  width: 458px;
  margin-top: 18px;
}

.intro__links {
  margin-top: 45px;
}

.intro__started-link {
  text-decoration: none;
  color: #fff;
  padding: 15px 41px;
  border-radius: 4px;
  background-color: #02897a;
}

.intro__watch-video {
  text-decoration: underline;
  border: none;
  background-color: transparent;
  color: #02897a;
  position: relative;
  margin-left: 56px;
}
.intro__watch-video::before {
  background: url(../../img/play-button.svg) no-repeat center;
  width: 20px;
  height: 17px;
  position: absolute;
  left: -28.5px;
  display: block;
  content: "";
}

.easy__list {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}

.easy__title {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  max-width: 348px;
  height: 48px;
}

.easy__info {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  max-width: 542px;
  height: 52px;
}

.easy__list-item-img {
  max-width: 98px;
  height: 98px;
  margin-right: 45px;
}

.easy__list-item-title {
  font-size: 16px;
  line-height: 24px;
  color: #2f281e;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  padding: 15px 24px;
  width: 274px;
  height: 53px;
}

.easy__list-item-title::after {
  background: red;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}

.easy__list-item-link {
  background: #02897a;
  border-radius: 4px;
  max-width: 216px;
  height: 53px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
  display: none;
}

.easy__list-item-link:hover {
  background-color: transparent;
  color: #00ffff;
  cursor: pointer;
}

.easy__list-items-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.clients {
  margin-bottom: 157px;
}

.clients__title {
  color: #22343d;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 8px;
}

.clients__text {
  color: #22343d;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  width: 537px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.clients__list {
  list-style: none;
  display: flex;
  gap: 50px;
}

.clinets__list-item {
  padding: 28px 26px 24px 26px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.item-stars {
  margin-bottom: 16px;
}

.item-text {
  color: #737373;
  width: 275px;
  margin: 0;
  margin-bottom: 16px;
}

.item__div {
  display: flex;
  align-items: center;
  gap: 14px;
}

.text-wrapper-author {
  margin: 0;
  color: #02897a;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.text-wrapper-title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #22343d;
  letter-spacing: 0.2px;
}/*# sourceMappingURL=main.css.map */