.site-header {
    display: flex;
    align-items: center;
}

.site-header__list {
    list-style: none;
    margin: 0 24px 0 0;
    padding: 0;
    display: flex;
}

.site-header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    
    color: rgb(92, 92, 92);
    text-decoration: none;
}

.site-header__link:hover {
    color: #22343D;
}

.site-header__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;

    color: #173A56;
    margin-left: 15px;
    margin-right: 237px;
}

.site-header__list-item {
    margin-right: 30px;
}

.site-header__list-item:nth-child(4) {
    margin-right: 0;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
}

.site-header__sign-in {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #173A56;
    border: 1px solid #BCD0E5;
    border-radius: 5px;
    padding: 10px 25px;
}

.site-header__sign-up {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
    background-color: #02897A;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 0 24px 0 24px;
}

.site-header__burger {
    display: none;
}

@media only screen and (max-width: 1110px){
    .site-header__navbar {
        display: none;
    }

    .site-header__wrapper {
        display: none;
    }

    .site-header__icon {
        display: none;
    }

    .site-header__burger {
        display: block;
        border: none;
        background-color: #fff;
    }

    .site-header__burger--inner {
        margin: 2px 0;
    }

    .site-header__burger--inner,
    .site-header__burger::after,
    .site-header__burger::before {
        display: block;
        content: '';
        width: 19px;
        height: 4px;
        background-color: #173A56;
        border-radius: 1.5px;
        transition: 0.3s ease all;
    }
}